body {
    background-color: #054705;
    margin: 0px;
  }

.door-frame{
    cursor: pointer;
    padding: 2%;
}

#logo{
    background-color: aliceblue;
    text-align: center;
}

#stars{
    display: flex;
    justify-content: center;
    align-content: space-around;
    color: white;
    font-size: 4vw;
}

#betweenStars{
    margin: 2vw 4vw;
}

.instructions{
    color: white;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height: 3vw;
    font-size: 2vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 10;
    letter-spacing: 0.2vw;
}
 
.number{
    color: red;
}

li{
    list-style-type: none;
}

.door-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#start{
    text-align: center;
    margin-top: 4vw;
}

button{
    font-size: 2vw;
    width: 20%;
}